<html>
    <head>
        <title>
            AW
        </title>
    </head>
    <body>
        <button type="button"><a href="/">Главная</a></button> 
        <button type="button"><a href="/catalogue">Каталог</a></button> 
        <button type="button"><a href="/posts">Статьи</a></button>
        <button type="button"><a href="/photos">Фотогаллерея</a></button> 
        <button type="button"><a href="/delivery">Доставка и оплата</a></button> 
        <button type="button"><a href="/reviews">Отзывы</a></button> 
        <button type="button"><a href="/wholesale">Опт</a></button> 
        <button type="button"><a href="/contacts">Контакты</a></button> 
    </body>
</html>
{% block content %}
{% endblock %}
