{% extends "base.html" %}

{% block content %}
    {% for entry in review_list %}
        <div>
            <img src="{{ entry.review.user_avatar }}">
            <span style="font-size: 36px;"> {{ entry.review.username }} </span>
            <span style="font-size: 12px;"> {{ entry.review.created }} </span>
            <p> {{ entry.review.content }} </p>
            {% for img in entry.images %}
                <img src="{{ img.image.url }}">
            {% endfor %}
            <br>
        </div>
    {% endfor %}
{% endblock %}