{% extends "base.html" %}

{% block content %}
    {% for review in review_list %}
        <div>
            <img src="{{ review.user_avatar }}">
            <span style="font-size: 36px;"> {{ review.username }} </span>
            <span style="font-size: 12px;"> {{ review.created }} </span>
            <p> {{ review.content }} </p>
            {% for img in review.images %}
                <img src="{{ img.url }}">
            {% endfor %}
            <br>
        </div>
    {% endfor %}
{% endblock %}